__pycache__
*.pyc
build/
epymc/locale/*
epymc/themes/*.edj
data/locale/*.po~
installed_files*
develop/

## below files are created by makepkg
## when building the PKGBUILD
epymc-*.tar.xz
epymc.tar.gz
packaging/arch/stable/epymc
packaging/arch/stable/pkg
packaging/arch/stable/src/
packaging/arch/dev/epymc
packaging/arch/dev/pkg
packaging/arch/dev/src
