[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Emotion Media Center
Comment=Log in directly in EpyMC
TryExec=epymc_standalone
Exec=epymc_standalone
Icon=epymc
