[Desktop Entry]
Encoding=UTF-8
Name=Emotion Media Center
Comment=EFL Media Center Platform
Exec=epymc
Icon=epymc
Terminal=false
Type=Application
Categories=Application;AudioVideo;
